@font-face{
    font-family:Raleway;
    src: url('../web__font/Raleway-Regular.ttf');  
    font-weight: 400;    
}
@font-face{
    font-family:Raleway;
    src: url('../web__font/Raleway-Medium.ttf');  
    font-weight: 500;    
}
@font-face{
    font-family:Raleway;
    src: url('../web__font/Raleway-SemiBold.ttf');  
    font-weight: 600;    
}
